<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <div th:fragment="footer">
        <footer class="mt-auto pt-3 bg-dark text-light">
            <div class="container-fluid px-5">
                <div class="row justify-content-between">
                    <div class="col-sm text-center text-md-start">
                        <p class="lead fs-sm-4 fs-4">VolunteerBridge</p>
                    </div>
                    <div class="col">
                        <p class="lead text-center" style="word-spacing: 10px;">ACT IMPACT INSIPIRE</p>
                        <p class="lead fs-6 text-center">VolunteerBridge@2025. All rights reserved</p>
                    </div>
                    <div class="col-sm text-center text-md-end">
                        <a href="#"><i class="bi bi-twitter text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-facebook text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-linkedin text-light mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-light mx-1"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>