<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 fixed-top border-bottom shadow-sm">
        <div class="container-fluid mx-3">
            <a th:href="@{/test/home}" class="navbar-brand fs-5 fs-4 ms-3">VolunteerBridge</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-2">
                        <a th:href="@{/volunteerOpp/search}" class="nav-link">Volunteer Opportunity</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a th:href="@{/volunteerOpp/creations}" class="nav-link">Creations</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a th:href="@{/test/create}" class="nav-link">Create</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a th:href="@{/taskRatings/ratings}" class="nav-link">Ratings</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ms-lg-3">
                        <a th:href="@{/user/logout}" class="btn btn-danger py-2 px-3 border-2 rounded-1">
                            Logout
                        </a>
                    </li>
                    <!-- Profile Icon -->
                    <li class="nav-item dropdown ms-lg-3">
                        <!-- Profile Icon -->
                        <a href="#"
                           class="text-decoration-none rounded-circle bg-primary text-white d-flex justify-content-center align-items-center"
                           id="profileDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"
                           style="width: 45px; height: 45px;">
                            <span style="font-size: 25px;">O</span>
                        </a>

                        <!-- Dropdown Menu -->
                        <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="profileDropdown">
                            <li>
                                <a class="dropdown-item" th:href="@{/test/profile}">
                                    <i class="bi bi-person me-2"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/test/orgAccUpdate}">
                                    <i class="bi bi-pencil me-2"></i> Update Account
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/test/changePassword}">
                                    <i class="bi bi-pencil me-2"></i> Change Password
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-danger" th:href="@{/test/accDelete}">
                                    <i class="bi bi-trash me-2"></i> Delete Account
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>